Editorial - idnits

During the shepherd review, idnits came up with the following:

  == Unused Reference: 'RFC8746' is defined on line 2560, but no explicit
     reference was found in the text
     '[RFC8746]  Bormann, C., Ed., "Concise Binary Object Representation (...'

And I noticed that RFC8746 is twice in the references ([RFC8746] and [rfc8746]), but only used in the text as [rfc8746].

Also note the following MissRefs come up, but I guess these are fine since they are only mentioned in the appendix to describe that they have been replaced.

  == Missing Reference: 'RFC4627' is mentioned on line 3202, but not
     defined
     '*  Updated references, e.g. for [RFC4627] to [RFC8259] in many...'

  ** Obsolete undefined reference: RFC 4627 (Obsoleted by RFC 7159)

  == Missing Reference: 'CNN-TERMS' is mentioned on line 3203, but not
     defined
'places, for [CNN-TERMS] to [RFC7228]; added missing reference...'

Interesting case sensitivity bug about RFC8746.
On the other references: These aren't actually references, they are mentions of references in RFC 7049 that have been replaced by the references that are now in the document.  

Maybe we should discuss what we want to do with this list (Appendix F), it is mixing editorial stuff (like this) with more important shifts in emphasis and new terms.  The former really is "RFC-Editor: please delete" material, the latter might be useful enough to stay in the document or not.