Late review comments on #117

In case you missed them, address my comments on #117.

Hi Peter, thanks to the pointer to the WebAuthn discussion.
I'm not sure I understand this issue, though: What specifically should we address?


Just the two review comments I left on the commit's diff (which are both currently "pending").

I don't know how to find these.  Can you point me to them?


Click "#117", which goes to the pull request page, then click "Files changed".  The review comments will appear inline.  In case you still can't see them, I reproduce them here.

- `The default range that is represented as integer is -2\*\*53+1..2\*\*53-1` &rarr; Shouldn't this range be: -2**53 to 2**53 (noting that 2**53 and -2**53 are representable as binary64)?
- `implementations may choose -2\*\*32..2\*\*32-1 or -2\*\*64..2\*\*64-1` &rarr; I suggest saying "A higher-level protocol may choose..." rather than "implementations may choose..."


Please see Section 2.2 of RFC 7493 for the reason this is -2\*\*53+1..2\*\*53-1: While 2\*\*53 and -2\*\*53 are representable as binary64, so are 2\*\*53+2, 2\*\*53+4 etc.  In all the latter cases, there is ambiguity whether the intention really was to specify 2\*\*53+1, 2\*\*53+3 etc.  So that is the reason why the "exact range" is limited to -2\*\*53+1..2\*\*53-1, and this is the one that is recommended for mapping to integers.

"Implementations" refers to JSON-to-CBOR converters; protocols indeed influence these implementations.

So I think no change is necessary.  With these explanations, do you agree?



> 
> Please see Section 2.2 of RFC 7493 for the reason this is -2**53+1..2**53-1: While 2**53 and -2**53 are representable as binary64, so are 2**53+2, 2**53+4 etc. In all the latter cases, there is ambiguity whether the intention really was to specify 2**53+1, 2**53+3 etc. So that is the reason why the "exact range" is limited to -2**53+1..2**53-1, and this is the one that is recommended for mapping to integers.
> 

The range I suggested is the biggest one that covers all _contiguous_ integers representable as binary64.  Any bigger range (such as 2**53+2, 2**53+4) will include integers not so representable.  Reading the section you mention, I believe the intent is only that receivers are not guaranteed to treat integers >= 9007199254740992 and <= 9007199254740992 as an exact value, and that that section says nothing about whether receivers are expected to treat integers other than those as exact.

> "Implementations" refers to JSON-to-CBOR converters; protocols indeed influence these implementations.

I made the suggestion of saying "higher-level protocols" rather than "implementations" (which I do understand as JSON-to-CBOR converters) to rule out cases when implementations decide on the appropriate integer conversion range because the higher-level protocol is silent on that detail (and thus to rule out such implementation differences, especially if the JSON-to-CBOR conversion is done for canonicalization purposes).


On the first item: the suggestion I made is based on *unambiguous* integers, which is slightly smaller than *contiguous* integers.  I still think that the I-JSON decision to use *unambiguous* integers is the right one here.

On the second point, maybe "A CBOR-based protocol, or a converter implementation may..."?

> 
> 
> On the first item: the suggestion I made is based on _unambiguous_ integers, which is slightly smaller than _contiguous_ integers. I still think that the I-JSON decision to use _unambiguous_ integers is the right one here.

In that case, the range -2\*\*53+1..2\*\*53-1 (as it currently appears) is appropriate, since I see how it's more convenient for implementations -- the absolute value will take no more than 53 bits, unlike the range -2\*\*53..2\*\*53, in which exactly two numbers could take 54 bits.

> On the second point, maybe "A CBOR-based protocol, or a converter implementation may..."?

"A CBOR-based protocol, or a converter implementation outside such a protocol, may..."

Maybe even simplify to "A CBOR-based protocol, or a generic converter implementation, may"

That is fine.